{% extends 'base.html' %}

{% block content %}

    <-- Topo da pagina -->
    <div class="container">

        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/static/icon_wrong.png" alt="" width="72" height="72">
            <h2>Erro ao entrar!</h2>
            <p class="lead">Verifique se o nome de usuario e senha foram digitados corretamente.</p>
            <p><a style="color: #82b1ff" href="{% url 'entrar' %}">Tentar novamente</a></p>
            <p><a style="color: #82b1ff" href="{% url 'index' %}">Pagina inicial</a></p>
        </div>

    </div>

{% endblock content %}