#DB
db.sqlite3

# Django
App_ABC/migrations/
App_ABC/migrations/__pycache__/
App_ABC/__pychache__
Projeto_Site/__pychache__
App_ABC/__init__.py

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
