{% extends 'base.html' %}

{% block content %}

    <-- Topo da pagina -->
    <div class="container">

        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/static/icon_cadasto_ok.png" alt="" width="72" height="72">
            <h2>Matricula solicitada com sucesso para o usuario {{ request.user.first_name }}.</h2>
            <p class="lead">Após o pagamento sua conta será atualizada com o pagamento e a confirmação da matricula.</p>
            <p><a style="color: #82b1ff" href="{% url 'index' %}">Pagina inicial</a></p>
        </div>

    </div>

{% endblock content %}